@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.carousel-item {
    height: 50rem;
    background: #777;
    color: white;
    position: relative;
}

.carousel-item .container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 350px;
}

/* Bolinhas entre as categorias dos filmes */
.bullet-container {
    display: flex;
    align-items: center;
  }

  .bullet {
    width: 5px;
    height: 5px;
    background-color: white;
    color: white;
    border-radius: 50%;
    margin: 0 10px; /* Espaçamento entre as bolinhas */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }

  /* Bolinhas das avaliações dos filmes */
.bullet-container2 {
    display: flex;
    align-items: center;
  }

  .bullet2 {
    width: 15px;
    height: 15px;
    background-color: yellow;
    color: yellow;
    border-radius: 50%;
    margin: 0 10px; /* Espaçamento entre as bolinhas */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }

  .bullet3 {
    width: 15px;
    height: 15px;
    background-color: red;
    color: red;
    border-radius: 50%;
    margin: 0 10px; /* Espaçamento entre as bolinhas */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-left: 50px;
  }

   #btn-primary- {
    background-color: #fd7e14 !important;
    color: white !important;
    border-color: #fd7e14 !important;
    border-radius: 50px !important;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(77, 77, 77, 0.85); 
    pointer-events: none; /* Garante que a sobreposição não bloqueie interações com a imagem */
  }
  .image-with-overlay {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem cubra completamente o contêiner */
  }

/* Seção de Filmes Populares*/
  .main{
    margin: 0 10%;
    margin-top: 7vh;
}

.title{
    align-items: center;
}

.div-dos-filmes {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Adicione estilos aos cards */
.movie-card {
    text-align: center;
    margin: 20px;
    width: 300px; /* Largura do card */
    height: 600px auto; /* Altura do card */
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
    border: solid 1px;
}

.movie-card:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/* Adicione estilos às imagens dentro dos cards */
.movie-poster {
    width: 100%; /* Ajusta a largura da imagem para preencher o card */
    height: auto; /* Mantém a proporção original da imagem */

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Adicione estilos aos detalhes do filme */
.movie-details {
    flex: 1; /* Ocupa o espaço restante no card */
}

/* Adicione estilos aos títulos e notas */
.movie-title, .movie-rating {
    margin: 5px 0;
}

.yellow-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: yellow;
    border-radius: 50%;
    margin-right: 5px; /* Espaçamento entre a bolinha e o texto "IMDb" */
}

/* Personalização do quadrado sobre nós*/
.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
  }
  
  .square {
    width: 104vh;
    height: 62vh;
    background-color: lightgray;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: url('../imagens/miranha.jpeg');
    background-size: cover;
  }
  
  .square h2 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    margin-top: 200px;
    margin-bottom: 10px;
  }
  
  .square p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .btn-sobrenos {
    padding: 10px;
    font-size: 16px;
    background-color: #fd7e14;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s;
  }
  
  .btn-sobrenos:hover {
    background-color: #ffac68;
  }
  
  /* Css das Séries*/
  .main2{
    margin: 0 10%;
    margin-top: 3vh;
}


  .div-das-series {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10vh;
}

/* Responsividade dos cards */
@media only screen and (max-width: 450px) {
  
    .movie-card {
        height: auto;
    }

    .center-container{
      align-items: flex-start;
    }

    .titulo-square{
      margin-top: 10px !important;
    }

    .btn-sobrenos{
      padding-bottom: 20px;
    }
