body {
    font-family: 'Lato', sans-serif;
}

/* Reset de estilos para garantir consistência em diferentes navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o rodapé preto */
.black-bg {
    background-color: #000;
    color: gray;
    padding: 30px; /* Aumentei o espaço interno do footer */
    text-align: center;
}

/* Container para organizar os elementos do rodapé */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para a seção à esquerda do rodapé */
.left-content {
    text-align: left;
}

.left-content h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

/* Estilos para a seção central do rodapé */
.center-content {
    display: flex;
}

.center-content a {
    text-decoration: none;
    color: gray;
    margin: 0 15px; /* Ajustei a margem para espaçamento */
}

/* Estilos para a seção à direita do rodapé (ícones sociais) */
.right-content {
    display: flex;
}

.btn_social ul {
    display: flex;
    list-style: none;
}

.btn_social ul li {
    margin: 0 10px; /* Ajustei a margem para espaçamento */
}

.btn_social ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: gray;
    width: 40px; /* Tamanho menor para os ícones */
    height: 40px; /* Tamanho menor para os ícones */
    line-height: 43px;
    transition: 0.4s;
    background: #000000;
    border: 2px solid gray;
    border-radius: 50%;
}

.btn_social ul li a i {
    font-size: 1.5em; /* Ajustei o tamanho da fonte */
}

.btn_social ul li a:hover {
    color: #555555;
}
